.rodapeDarkMode,
.rodapeLightMode {
    width: 100%;
    padding: 100px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.rodapeDarkMode {
    background-color: var(--darkTopoRodape);
    color: var(--darkFonteCor);
}

.rodapeLightMode {
    color: var(--darkFundoExperiencia);
}

.rodapeDarkMode .creditos {
    border-top: 2px solid var(--darkLinhaRodape);
}

.rodapeLightMode .creditos {
    border-top: 2px solid var(--lightLinhaRodape);
}

.img_logo {
    width: 50px;
    height: 35px;
}

.rodape_descricao {
    width: 100%;
    max-width: 600px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    text-align: center;
}

.redes_sociais {
    width: 100%;
    max-width: 375px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.img_icones {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.creditos {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.link_nome {
    color: var(--corDourada);
    text-decoration: none;
    font-weight: 900;
}

/* Media-query */
@media screen and (max-width: 768px) {
    .img_icones {
        width: 40px;
        height: 40px;
    }
}