.topo_darkMode,
.topo_lightMode {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;

    border-bottom: 2px solid var(--corDourada);
}

.topo_darkMode {
    background-color: var(--darkTopoRodape);
}

.topo_lightMode {
    background-color: white;
}

.container_base {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Botão */

.btn_config {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--corDourada);
    cursor: pointer;
}

.topo_darkMode .btn_config {
    background-color: var(--darkTopoRodape);
}

.topo_lightMode .btn_config {
    background-color: white;
}

.logo_img {
    width: 50px;
    height: 35px;
}

.icone {
    width: 25px;
    height: 25px;
}