.cards_area {
    flex: 0 0 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid var(--lightLinhaRodape);
}

.cards_area p {
    padding-top: 10px;
}