/* Importação de fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');									

/* Configuração Basica */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Configurações de cores para todas as Páginas */
:root {
  --corDourada: #feb633;
  --corTituloAzul: #022144;
  --fundoTituloBranco: #fafbfc;

  --lightTitulo: #32333c;
  --lightParagrafo: #8a8fa3;
  --lightFundoExperiencia: #f6f8fc;
  --lightLinhaRodape: #CCCCCC;

  --darkTopoRodape: #252525;
  --darkFundoExperiencia: #393838;
  --darkLinhaRodape: #747272;
  --darkFonteCor: #cccccc;
}

html, body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-y: hidden;
}